#titre{
    margin-top : 10px;
    margin-bottom : 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#listeStudents{
    margin-top : 10px;
    margin-bottom : 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#formulaire{
    margin-top : 10px;
    margin-bottom : 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.divStudents{
    margin: 10px;
}

.divStudents>button{
    margin-left : 10px;
    margin-right : 10px;
}

.redOutline{
    border : 1px solid red
}