<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/style.css" />
</head>
<body>
    <div id="titre">
        <h1>Liste des élèves</h1>
    </div>
    <div id="listeStudents">
        
    </div>
    <div id="formulaire">
        <div>
            <label for="nameInput">Nom de l'élève</label>
            <input type="text" id="nameInput" name="nameInput">
        </div>
        <div>
            <label for="dateInput">Date de naissance de l'élève</label>
            <input type="date" id="dateInput" name="dateInput">
        </div>
        <button onclick="addStudent()">Valider</button>
    </div>
</body>
<script type="module" src="./../assets/js/home.js"></script>